.page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--md);
    transition: grid-template-columns 0.5s;
}

.page-grid.show-parameter {
    grid-template-columns: 1fr 1.5fr;
    transition: grid-template-columns 0.5s;
}

.grid-form-area .card {
    position: sticky;
    top: var(--md);
}

.grid-parametro-area {
    padding: var(--md);
    border-radius: 10px 0 0 10px;
    background-color: var(--color-darken-bg);
}

.grid-parametro-area::after {
    content: '';
    position: absolute;
    inset: 0 -150px 0 100%;
    background-color: inherit;
}