@import '../../../../../assets/css/forms.scss';

.page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--md);
    transition: grid-template-columns 0.5s;
}

.page-grid.show-parameter {
    grid-template-columns: 1fr 1.5fr;
    transition: grid-template-columns 0.5s;
}

.grid-form-area .card {
    position: sticky;
    top: var(--md);
}

.grid-parametro-area {
    padding: var(--md);
    border-radius: 10px 0 0 10px;
    background-color: var(--color-darken-bg);
}

.grid-parametro-area::after {
    content: '';
    position: absolute;
    inset: 0 -150px 0 100%;
    background-color: inherit;
}

.width-200 {
    width: 200px;
}

.card {
    border-width: 3px;
    border-color: var(--color-primary);
    background-color: rgba(var(--color-primary-rgb), 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flex-row {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: var(--md);
}

.space-between {
    justify-content: space-between;
}

.form-group {
    margin-bottom: var(--md);
}

label {
    margin-bottom: var(--xs);
    font-weight: bold;
}

textarea.fixed {
    resize: vertical;
    max-height: 250px;
}