<form [formGroup]="form">
  <div>
    <div class="form-group">
      <label for="chave">Identificação do Parametro</label>
      <input
        formControlName="chave"
        id="chave"
        placeholder="MFE_PARAM_01"
        type="text"
        class="form-control width-200"
        maxlength="30"
      />
      <small id="chaveHelp" class="form-text text-muted"
        >Nome de identificação do parametro com até 30 caracteres</small
      >
    </div>

    <div class="form-group">
      <label for="sistema">Sistema</label>
      <select
        formControlName="sistemaID"
        id="sistema"
        class="form-control width-200"
      >
        <option *ngIf="!sistemas" disabled>Loading...</option>
        <option value="">Selecione</option>
        <option *ngFor="let sistema of sistemas" [value]="sistema.sistemaID">
          {{ sistema.nome }}
        </option>
      </select>
      <small id="sistemaHelp" class="form-text text-muted"
        >Selecione o sistema vinculado</small
      >
    </div>
  </div>

  <div class="form-group mb-4">
    <label for="valorJson">Valor JSON</label>
    <spar-json-editor formControlName="valorJson"></spar-json-editor>
  </div>
</form>
