.node-flex-row {
    display: flex;
    flex-wrap: nowrap;
    gap: .5ch;

    min-height: 3ch;
}

.node-flex-row.root {
    border-bottom: 1px solid var(--color-darken-primary);
}

.node-flex-row.focused {
    background-color: var(--color-lighter-primary);
}

.node-flex-row.parent-focused {
    background-color: var(--color-super-light-primary);
}

.node-input-column {
    font-size: .8rem;
}

.node-error-column {
    font-size: .8rem;
    color: var(--color-error);
    padding-right: 2ch;
    margin-left: auto;
}

.node-input {
    --string-color: #2d9a2d;
    --number-color: #ffa500;
    --boolean-color: #ff6347;
    --array-index-color: #59a6ed;

    all: unset;

    font-weight: 500;

    padding: 0 var(--sm);
    background-color: transparent;
    color: var(--color-text);
    resize: none;
    max-width: 100ch;

    height: auto;
    overflow-x: visible;
    overflow-y: auto;
    resize: vertical;
}

.index-input {
    color: var(--array-index-color);
}

.node-input.colored.string {
    color: var(--string-color);
}

.node-input.colored.number {
    color: var(--number-color);
}

.node-input.colored.boolean {
    color: var(--boolean-color);
}

.node-input:focus {
    border: 1px solid var(--color-darken-primary);
    border-radius: 2px;
}

.expand-button {
    width: 1.5rem;
}

.node-detail-column {
    font-size: .8rem;
    color: gray;
    padding-bottom: 2px;

    button:hover {
        color: blue;
    }
}

.btn {
    padding: 0;
}