// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@import '@angular/cdk/overlay-prebuilt.css';
@import '@angular/cdk/a11y-prebuilt.css';

@import 'material-symbols';

@import "jsoneditor/dist/jsoneditor.min.css";

* {
  --color-primary-rgb: 141, 191, 244;
  --color-primary: rgb(var(--color-primary-rgb));
  --color-bg: rgb(240, 240, 240);

  --color-darken-primary: rgb(121, 171, 224);
  --color-darken-bg: rgb(220, 220, 220);
  --color-lighter-primary: rgb(171, 221, 274);
  --color-super-light-primary: rgb(191, 241, 294);

  --font-contrast-primary: rgb(33, 80, 128);

  --xs: 0.2rem;
  --sm: 0.5rem;
  --md: 1rem;
  --lg: 1.5rem;
  --xl: 2rem;

  --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
  --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
  --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
  --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
  --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
  --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
  --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);

  box-sizing: border-box;
}

html {
  @include mat.theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: var(--color-bg);
}

.focus-content {
  max-width: 60vw;
  margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--lg);
}

.width-200 {
  width: 200px;
}

.card {
  border-width: 3px;
  border-color: var(--color-primary);
  background-color: rgba(var(--color-primary-rgb), 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flex-row {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: var(--md);
}

.space-between {
  justify-content: space-between;
}

.form-group {
  margin-bottom: var(--md);
}

label {
  margin-bottom: var(--xs);
  font-weight: bold;
}

textarea.fixed {
  resize: vertical;
  max-height: 250px;
}

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden-element {
  visibility: hidden;
  white-space: pre;
  pointer-events: none;
}

.styless {
  all: unset;
}

.small-mat-menu {
  --mat-menu-item-label-text-size: .7rem;
  font-size: .7rem;
}

.small-mat-menu .mat-mdc-menu-item {
  min-height: 2rem;
}