<button mat-button (click)="carregarParametros()" class="mb-2">
  <small>Recarregar Parâmetros</small>
</button>

<div class="d-flex justify-content-between">
  <div>
    <button disabled class="btn btn-secondary" (click)="carregarParametros()">
      Filtrar
    </button>
    <button class="btn btn-link" (click)="carregarParametros()">
      Atualizar lista
    </button>
  </div>
  <button class="btn btn-primary" (click)="cadastrarParametro()">
    Cadastrar Parâmetro
  </button>
</div>

<hr />

<div *ngIf="parametros">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 round-border"
  >
    <ng-container matColumnDef="chave">
      <th mat-header-cell *matHeaderCellDef>Chave</th>
      <td mat-cell *matCellDef="let parametro">
        <div class="chave-column-content">
          {{ parametro.chave }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="valorJson">
      <th mat-header-cell *matHeaderCellDef>Prévia do Valor</th>
      <td mat-cell *matCellDef="let parametro">
        <div class="no-wrap">
          {{ parametro.valorJson }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let parametro">
        <div class="actions-column-content">
          <button mat-button (click)="editarParametro(parametro)">
            Editar
          </button>
          <button mat-button (click)="deletarParametro(parametro)">
            Deletar
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        <p class="pt-4 fs-6 text-center">Nenhum registro encontrado</p>
      </td>
    </tr>
  </table>
</div>
